body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
 

  
  .animate {
    animation: fadeIn 1s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .result {
    font-size: 20px;
    color: #333; /* Default color for the result */
  }
  
  .result span.years {
    color: #FF5733; /* Color for the years */
  }
  
  .result span.months {
    color: #33FF57; /* Color for the months */
  }
  
  .result span.days {
    color: #5733FF; /* Color for the days */
  }