body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    margin-top:300px;
  }
  
  form {
    display: flex;
   flex-direction: row;
    margin-bottom: 20px;
    gap: 30px;

  }
  
  .year{
    display: flex;
    flex-direction: column;
}

.month{
    display: flex;
    flex-direction: column;
}
.day{
    display: flex;
    flex-direction: column;
}

  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 5px;
  }
  
  button {
    padding: 10px 2px;
    background-color: #3bbfc9;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius:12px;
    width: 100px;
    margin-left: 150px;
    margin-top:30px;

  }
  
  button:hover {
    background-color: #1545ca;
  }
  
 

  
  .animate {
    animation: fadeIn 1s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .result {
    font-size: 20px;
    color: #333; /* Default color for the result */
  }
  
  .result span.years {
    color: #FF5733; /* Color for the years */
  }
  
  .result span.months {
    color: #33FF57; /* Color for the months */
  }
  
  .result span.days {
    color: #5733FF; /* Color for the days */
  }